// Custom styles.
// 主页文章添加阴影效果
.post {
margin-top: 60px;
margin-bottom: 60px;
padding: 25px;
-webkit-box-shadow: 0 0 5px rgba(202, 203, 203, .5);
-moz-box-shadow: 0 0 5px rgba(202, 203, 204, .5);
}

.feed-link{
	border: none;
}

/**
 * 推荐阅读样式
 */
.links-of-blogroll-item{
	width:50%;
	float:left;
}
.links-of-blogroll-item a:hover{
	color: #fc6423;
	border-bottom: 1px solid #fc6423;
}